section {
    height: 100vh;
    min-height: 300px;

    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*************************** PARALLAX ************************/


.parallax {
    background: url('../img/bg.jpg') no-repeat fixed center;
    background-size: cover;
}

/*************************** LOADER ************************/


.loader-container {
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1000;

    opacity: 1;
    background-color: black;
}

.loader {
    width: 120px;
    height: 120px;

    position:fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;

    margin-top: -60px;
    margin-left: -60px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*************************** SIDENAV ************************/
.sidenav {
    display: flex;
    position: fixed;
    padding-left: 20px;

    height: 100%;

    z-index: 9999;
    flex-direction: column;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav a {
    display: block;

    border: 0;
    padding: 0;

    line-height: 0.75;

    background-color: transparent !important;
}

.sidenav a::before {
    padding-right: 20px;

    color:white;
    content: '\25E6';
    font-size: 30px;
}

.sidenav a.active::before {
    content: '\2022';
}


/*************************** TYPE EFFECT ************************/
.show-caret::after {
    content: '|';
}


/*************************** PHONE ************************/

.phone {
    position: fixed;
    max-width: 60%;
    z-index: 0;

    bottom: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/*************************** screenshot-carousel ************************/


.screenshot-carousel {
    min-height: 100vh;

    -webkit-perspective: 500px;
    perspective: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.screenshot-carousel > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.screenshot-carousel figure {
    margin: 0;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform-origin: 50% 50% -482.84271px;
    transform-origin: 50% 50% -482.84271px;
}
.screenshot-carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}
.screenshot-carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: 50% 50% -482.84271px;
    transform-origin: 50% 50% -482.84271px;
}

.screenshot-carousel figure img:nth-child(1) {
    z-index: 2;
}
.screenshot-carousel figure img:nth-child(2) {
    -webkit-transform: rotateY(0.7854rad);
    transform: rotateY(0.7854rad);
}
.screenshot-carousel figure img:nth-child(3) {
    -webkit-transform: rotateY(1.5708rad);
    transform: rotateY(1.5708rad);
}
.screenshot-carousel figure img:nth-child(4) {
    -webkit-transform: rotateY(2.35619rad);
    transform: rotateY(2.35619rad);
}
.screenshot-carousel figure img:nth-child(5) {
    -webkit-transform: rotateY(3.14159rad);
    transform: rotateY(3.14159rad);
}
.screenshot-carousel figure img:nth-child(6) {
    -webkit-transform: rotateY(3.92699rad);
    transform: rotateY(3.92699rad);
}
.screenshot-carousel figure img:nth-child(7) {
    -webkit-transform: rotateY(4.71239rad);
    transform: rotateY(4.71239rad);
}
.screenshot-carousel figure img:nth-child(8) {
    -webkit-transform: rotateY(5.49779rad);
    transform: rotateY(5.49779rad);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    margin: 20px;
    color: black;
}