.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
    vertical-align: middle;
  background: transparent;
  padding: 15px 20px 0px 20px !important;
  font-size: 16px;
  color: white;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-toggle {
    outline: none;
    color: white !important;
    background-color: transparent !important;
    font-size: 18px;
    padding: 0px !important;
    margin: 0px !important;
}


.navbar-custom .navbar-brand , .navbar-nav{
    background: transparent;
    color: white;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 2px !important;
}

strong {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 0px;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: #DF0101;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.navbar-custom.top-nav-collapse {
    padding: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  }


.btn-group {

  vertical-align: inherit;
}

.flag {
  margin-right: 22px;
  height: 24px;
  width: 24px;
}

p {
  line-height: 2em;
}



.fa:hover {
	color: #DF0101;
}
.navbar-brand:hover {
	color: #DF0101;
}
.navbar-custom a {
  color: white;
}
.navbar-custom a:hover{
  background-color: transparent;
  color: #DF0101;
}

