.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  border-bottom: 1px solid white;
  line-height: 1em;
}
.navbar-custom {
  padding: 4px 6px;
  font-size: 16px;
  color: white;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-toggle {
  outline: none;
  color: white;
  font-size: 18px;
  margin:0px;
  padding: 13px;
}

.navbar-toggle:hover, .navbar-button:visited, .navbar-button:focus {
  background:transparent;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}

@media (max-width: 768px ){
  .navbar-brand {
    padding: 13px;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.navbar-brand {
  height: 40px;
}

.btn-group {
  padding: 0px;
  margin: 0px;
  vertical-align: inherit;
}

.flag {
  margin-right: 22px;
}

p {
  line-height: 2em;
}

.dropdown-menu {
  margin-top: 15px;
}

.fa:hover {
  color: #9a0000;
}